body{
    background-color: #18181A;
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.is_stream {
  border-color: #79EC84 !important;
  color: #79EC84 !important;
}
.is_space {
  border-color: #4891FF !important;
  color: #4891FF !important;
}

nav {
  display: flex;
  gap: 4px;
}
nav .nav_window {
  flex: 1;
  padding-right: 12px;
  display: none;
}
nav .nav_window p {
  padding: 8px 0 8px 12px;
  font-size: 14px;
  font-family: "SUIT";
  font-weight: 400;
  line-height: 150%;
  color: #A9AEB8;
  flex: 1;
  -webkit-app-region: drag;
}
nav .nav_window .nav_window_button_container {
  padding-top: 8px;
  display: flex;
  gap: 16px;
}
nav .nav_window .nav_window_button {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
nav .nav_window .nav_window_button img {
  width: 100%;
  height: 100%;
}
nav .nav_mac {
  flex: 1;
  height: 37px;
  display: none;
  -webkit-app-region: drag;
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_left {
  margin: 2px 0;
  display: flex;
  align-items: center;
}
header .header_left .header_logo {
  width: 28px;
  height: 28px;
}
header .header_left .header_logo_text {
  margin-left: 4px;
}
header .header_left p {
  display: inline;
  margin-left: 8px;
  font-size: 14px;
  font-family: "SUIT";
  font-weight: 300;
  color: #81858f;
}
header .header_right {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header_img {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
header .header_img:hover {
  background-color: #232426;
}
header .header_img .header_update_notification {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79ec84;
}
header .header_update {
  display: none;
}
header .header_setting {
  display: block;
}
header .header_profile {
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .header_profile:hover .profile_popup {
  visibility: visible;
  opacity: 1;
}
header .header_profile img {
  border-radius: 50%;
}

.profile_popup {
  position: absolute;
  right: 24px;
  top: 97px;
  width: 172px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  opacity: 0;
  padding: 8px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background-color: #232426;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.50);
  z-index: 100;
  transition: all 0.2s ease-in;
}
.profile_popup:hover {
  visibility: visible;
  opacity: 1;
}
.profile_popup a {
  display: flex;
  padding: 4px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}
.profile_popup a:hover {
  background-color: #37393D;
}
.profile_popup a p {
  color: #B2B2C2;
  font-family: "SUIT";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.profile_popup a img {
  width: 16px;
  height: 16px;
}
.profile_popup span {
  display: block;
  width: 148px;
  height: 2px;
  background-color: #37393D;
}

#panel {
  margin: 16px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
#panel .panel_column {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  user-select: all;
}
#panel .panel_column .panel_item {
  display: flex;
  position: relative;
  padding: 16px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #232426;
  user-select: none;
  cursor: pointer;
}
#panel .panel_column .dragging {
  opacity: 0.5;
}
#panel .panel_column .panel_item .panel_item_more {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  display: none;
}
#panel .panel_column .panel_item:hover .panel_item_more {
  display: block;
}
#panel .panel_column .panel_item .panel_item_more:hover {
  background: #37393D;
  border-radius: 4px;
}
#panel .panel_column .dragging .panel_item_more {
  display: none !important;
}
#panel .panel_column .panel_item .panel_item_profile {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #37393D;
}
#panel .panel_column .panel_item .panel_item_profile img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50%;
}
#panel .panel_column .panel_item .panel_item_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
#panel .panel_column .panel_item .panel_item_info .panel_item_name {
  font-size: 20px;
  font-family: "SUIT";
  font-weight: 500;
  line-height: 150%;
  color: #e6ebf5;
}
#panel .panel_column .panel_item .panel_item_info .panel_item_stream_date {
  color: var(--white-50, #A9AEB8);
  font-family: "SUIT";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
#panel .panel_column .panel_item .panel_item_info .panel_item_stream_date span {
  margin-left: 4px;
  font-weight: 300;
}
#panel .panel_column .panel_item .panel_item_info .panel_item_follows {
  font-size: 14px;
  font-family: "SUIT";
  font-weight: 500;
  line-height: 150%;
  color: #A9AEB8;
}
#panel .panel_column .panel_item .panel_item_info .panel_item_follows span {
  margin-left: 4px;
  font-weight: 300;
}

.detail_background, .setting_background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 100;
}
.detail, .setting {
  width: 380px;
  margin: 112px auto;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #232426;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.40);
}

.detail .detail_thumnail {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.detail .detail_info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #37393d;
}
.detail .detail_info .detail_info_left {
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.detail .detail_info .detail_info_name {
  font-size: 24px;
  font-family: "SUIT";
  font-weight: 500;
  line-height: 150%;
  color: #e6ebf5;
}
.detail .detail_info .detail_info_follows, .detail .detail_info .detail_info_points {
  color: #A9AEB8;
  font-family: "SUIT";
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  gap: 4px;
}
.detail .detail_info .detail_info_follows span, .detail .detail_info .detail_info_points span {
  font-weight: 300;
}
.detail .detail_info .detail_info_right {
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.detail .detail_info .detail_info_button {
  display: flex;
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  gap: 4px;
  background-color: #37393D;
  cursor: pointer;
}
.detail .detail_info .detail_info_button p {
  color: #A9AEB8;
  font-family: "SUIT";
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.detail .detail_info .detail_info_button img {
  width: 16px;
  height: 16px;
}
.detail .detail_info .is_not_stream {
  cursor: default;
}
.detail .detail_info .is_stream p {
  color: #79ec84;
}
.detail .detail_info .is_space p {
  color: #4891ff;
}
.detail .detail_info .is_stream img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(58%) saturate(427%) hue-rotate(61deg) brightness(98%) contrast(89%);
}
.detail .detail_info .is_space img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(52%) saturate(5216%) hue-rotate(196deg) brightness(100%) contrast(102%);
}
.detail .detail_info .is_not_stream img {
  display: none;
}
.detail .detail_info .detail_info_auto {
  display: flex;
  align-items: center;
  gap: 8px;
}
.detail .detail_info .detail_info_auto p {
  color: #A9AEB8;
  font-family: "SUIT";
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}
.detail .detail_info .detail_info_auto_toggle input {
  display: none;
}
.detail .detail_info .detail_info_auto_toggle label {
  width: 36px;
  height: 20px;
  border-radius: 30px;
  display: block;
  position: relative;
  background-color: #37393D;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.detail .detail_info .detail_info_auto_toggle_button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  background-color: #81858F;
  transition: all 0.2s ease-in;
}
#detail_info_auto_toggle_checkbox:checked ~ label,
#detail_info_space_toggle_checkbox:checked ~ label {
  background-color: #3E5C41;
}
#detail_info_auto_toggle_checkbox:checked ~ label .detail_info_auto_toggle_button,
#detail_info_space_toggle_checkbox:checked ~ label .detail_info_auto_toggle_button {
  left: 20px;
  background-color: #79EC84;
}

.setting_item {
  padding: 8px;
  display: flex;
  gap: 12px;
  color: #e6ebf5;
  font-size: 16px;
}
.setting_item input {
  background-color: #81858F;
  border-radius: 8px;
  padding-left: 4px;
  opacity: 0.5;
  color: #e6ebf5;
}
.setting_item button {
  background-color: #686868;
  border-radius: 8px;
  padding: 4px 8px;
  color: #e6ebf5;
  cursor: pointer;
}

.social {
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
}
.social .social_item {
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}
.social .social_item .img {
  width: 16px;
  height: 16px;
}
.social .social_item p {
  font-size: 14px;
  font-family: "SUIT";
  font-weight: 300;
  line-height: 150%;
  color: #A9AEB8;
}